<!DOCTYPE html>
<html lang="de">
	<head>
		<% if (locals.error && locals.error.code && locals.error.name) { %>
			<%- include("../../page-elements/views/head.ejs", { title: error.code + ' - ' + __(error.name) }) %>
		<% } else { %>
			<%- include("../../page-elements/views/head.ejs", { title: 'unkown error' }) %>
		<% } %>
	</head>
	<body>
		<div class="page">
			<div id="header" class="header">
<%- include("../../page-elements/views/header.ejs") %>
			</div>
			<% if (locals.error && locals.error.code && locals.error.name) { %>
				<h1 id="headline"><%= error.code %> - <%= __(error.name) %></h1>
				<% if (locals.error.error) { %>
					<% if (locals.error.error.msg) { %>
						<p><%= error.error.msg %></p>
						<% if (locals.error.error.filename) { %>
							<p><%= error.error.filename %><% if (locals.error.error.line) { %>:<%= error.error.line %><% } %><% if (locals.error.error.column) { %>:<%= error.error.column %><% } %>
							</p>
						<% } %>
					<% } else { %>
						<pre><%= error.error.toString() %></pre>
					<% } %>
				<% } %>
			<% } else { %>
				<h1 id="headline"><%= __('unkown error') %></h1>
				<% if (locals.error) { %>
					<% if (typeof locals.error === 'string') { %>
						<pre><%= error %></pre>
					<% } else if (typeof locals.error === 'object') { %>
						<pre><%= JSON.stringify(error, null, 4) %></pre>
					<% } %>
				<% } %>
			<% } %>
<%- include("../../page-elements/views/footer.ejs") %>
		</div>
	</body>
</html>
